* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'roboto', sans-serif;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 17px;
  font-weight: 500;
  padding-top: 50px; }

.container, .historia-container-imagenes {
  width: 100%;
  height: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header {
  background-color: #9b963a;
  padding: 0%; }
  .header div img {
    object-fit: cover;
    object-position: 40% 50%; }

.footer {
  color: #c1c1c1;
  background-color: #756c48;
  width: 100%; }
  .footer .container-footer {
    padding: 3% 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .footer .redes-footer {
    align-self: flex-start;
    color: #c1c1c1; }
    .footer .redes-footer a {
      text-decoration: none;
      color: #c1c1c1; }
      .footer .redes-footer a:hover {
        color: white; }
      .footer .redes-footer a i {
        font-size: 25px;
        padding: 20px; }
  .footer h6 {
    border-bottom: 1px solid white;
    font-size: 19px; }
  .footer p {
    font-size: 15px; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  /*     .container-footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } */
  .container-footer {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "logo-footer logo-footer" "contacto-footer contacto-footer" "redes-footer redes-footer"; }
  .logo-footer {
    grid-area: logo-footer;
    margin: auto; }
  .contacto-footer {
    grid-area: contacto-footer;
    margin: auto; }
  .redes-footer {
    grid-area: redes-footer;
    margin: auto; }
  .logo-footer {
    padding: 30px; }
    .logo-footer img {
      height: 50px !important; } }

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .logo-footer img {
    height: 50px !important; } }

.logo-footer {
  align-items: center; }
  .logo-footer img {
    height: 80px;
    align-self: center;
    transition: 0.5s; }
    .logo-footer img:hover {
      height: 83px;
      transition: 0.5s; }

.margin-0 {
  margin: 0px; }

.padding-o {
  padding: 0px; }

.parallax, .parallax2 {
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
  border-top: 2px #5f5635 solid;
  border-bottom: 2px #5f5635 solid; }

.parallax2 {
  background: #fff fixed no-repeat 50% 20%; }

/*Baner */
.header-caja-baner {
  position: relative;
  width: 100%; }

.header-navegacion-baner {
  width: 100%;
  height: 70vh;
  max-height: 70vh;
  /*  background-image: url(imagenes/amacer-en-el-avila-vista.jpg); */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 2000%; }

.carousel-item {
  height: 600px;
  width: 100%; }
  .carousel-item img {
    height: 100%; }

.header-caja-baner-titulo {
  color: white;
  margin-bottom: 0;
  font-family: 'Paytone One' , sans-serif;
  font-weight: 500;
  font-size: 40px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: fromLeft 2s; }

.header-caja-baner-sub-titulo {
  color: white;
  margin-bottom: 0;
  font-family: 'Paytone One' , sans-serif;
  font-weight: 500;
  font-size: 25px;
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: fromLeftSlow 2s; }

@keyframes fromLeft {
  0% {
    left: -10%; }
  100% {
    left: 50%; } }

@keyframes fromLeftSlow {
  0% {
    left: -30%; }
  100% {
    left: 50%; } }

.header-topper {
  position: relative;
  color: white;
  font-family: 'Paytone One' , sans-serif;
  font-weight: 300;
  border-bottom: white solid 1px; }

.header-caja-baner-barra {
  opacity: 50%;
  background-color: black;
  width: 100%;
  height: 30%;
  position: absolute;
  top: 70%;
  z-index: 1; }

/*Baner */
/* Nav */
.header-navegacion {
  width: 100%;
  background-color: #e3d18a;
  font-size: 10px;
  font-weight: 200;
  font-family: 'paytone one', sans-serif; }
  .header-navegacion img {
    height: 40px;
    margin-top: 1px;
    top: 0;
    animation: fade 2s;
    transition: 0.5s; }
    .header-navegacion img:hover {
      height: 42px;
      transition: 0.5s; }

.silueta-navbar {
  position: relative;
  height: 100%; }

@keyframes fade {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

.header-navegacion-menu {
  list-style: none;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end; }
  .header-navegacion-menu li {
    display: inline-block;
    position: relative; }
    .header-navegacion-menu li a {
      display: block;
      padding: 15px 22px;
      color: white;
      text-decoration: none;
      font-size: 20px; }
      .header-navegacion-menu li a:hover {
        background-color: #85603f;
        color: white; }

.header-navegacion-menu-sub-Menu {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 0; }
  .header-navegacion-menu-sub-Menu li {
    background-color: #e3d18a; }
    .header-navegacion-menu-sub-Menu li a {
      display: flex;
      text-decoration: none;
      padding: 15px 23px;
      font-size: 18px;
      height: auto; }

.header-navegacion-menu li:hover .header-navegacion-menu-sub-Menu {
  display: flex;
  z-index: 5;
  flex-direction: column; }

/* Nav */
/* Animacion pajaro index */
.guacamaya {
  position: absolute;
  z-index: 9999999999;
  width: 80px;
  height: 80px; }

.guacamaya-1 {
  top: 90px;
  right: 1950px;
  animation: pajaro_1 5s linear;
  animation-delay: 1s; }

.guacamaya-2 {
  top: 150px;
  right: 1950px;
  animation: pajaro_2 5s linear;
  animation-delay: 1s; }

.guacamaya-3 {
  top: 120px;
  right: 1900px;
  animation: pajaro_3 5s linear;
  animation-delay: 1s; }

@keyframes pajaro_1 {
  0% {
    top: 550px;
    right: 0px; }
  25% {
    right: 487,5px;
    top: 137,5; }
  50% {
    top: 275px;
    right: 975px; }
  100% {
    top: 90px;
    right: 1950px; } }

@keyframes pajaro_2 {
  0% {
    top: 610px;
    right: 0px; }
  25% {
    right: 487,5px;
    top: 457,5; }
  50% {
    top: 305px;
    right: 975px; }
  100% {
    top: 150px;
    right: 1950px; } }

@keyframes pajaro_3 {
  0% {
    top: 580px;
    right: -50px; }
  25% {
    right: 475px;
    top: 435px; }
  50% {
    top: 290px;
    right: 950px; }
  100% {
    top: 120px;
    right: 1900px; } }

/* Animacion pajaro index */
/* index */
.elParque {
  background-color: white;
  color: #85603f; }

.container, .historia-container-imagenes {
  width: 100%;
  height: auto;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #5f5635; }
  .container h3, .historia-container-imagenes h3 {
    font-size: 37px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'paytone one', sans-serif; }
  .container h4, .historia-container-imagenes h4 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 25px; }
  .container p, .historia-container-imagenes p {
    text-align: center;
    font-size: 20px;
    line-height: 1,5;
    font-weight: 200; }
  .container img, .historia-container-imagenes img {
    display: block;
    margin: auto;
    padding: 10px;
    max-width: max-content; }

.elParque div p a {
  color: black;
  font-size: 22px; }

.ubicacion {
  background-color: rgba(255, 246, 246, 0.973);
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%; }

.actividades {
  background-color: white;
  color: #85603f; }

.actividades-fila {
  display: flex;
  width: 100%;
  margin: 4% auto;
  flex-wrap: wrap;
  justify-content: space-between; }

.actividades-fila-iconos {
  color: #5f5635;
  font-size: 14em;
  padding: 2%;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  text-align: center; }
  .actividades-fila-iconos h6 {
    padding: 20px;
    font-size: 29px; }
  .actividades-fila-iconos:hover {
    color: white;
    background-color: #5f5635; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .carousel-item {
    height: 400px;
    margin-top: 10px; }
    .carousel-item img {
      height: 100%;
      object-position: 40% 62%; }
  .header-navegacion img {
    height: 2rem; }
    .header-navegacion img:hover {
      height: 2.2rem;
      transition: 0.5s; }
  .header-caja-baner-titulo {
    font-size: 17px;
    width: 220px; }
  .header-caja-baner-sub-titulo {
    font-size: 15px; }
  .container, .historia-container-imagenes {
    padding: 30px; }
    .container h3, .historia-container-imagenes h3 {
      font-size: 27px; }
    .container p, .historia-container-imagenes p {
      font-size: 20px;
      font-weight: 0; }
  .actividades-fila {
    display: flex;
    width: 100%;
    margin: 4% auto;
    flex-wrap: wrap;
    justify-content: space-evenly; } }

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .carousel-item {
    height: 500px; }
  .header-navegacion img {
    height: 2rem; }
    .header-navegacion img:hover {
      height: 2.2rem;
      transition: 0.5s; }
  .header-caja-baner-titulo {
    font-size: 20px;
    width: 260px; }
  .header-caja-baner-sub-titulo {
    font-size: 17px; }
  .container, .historia-container-imagenes {
    padding: 30px; }
    .container h3, .historia-container-imagenes h3 {
      font-size: 27px; }
    .container p, .historia-container-imagenes p {
      font-size: 20px;
      font-weight: 0; } }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .carousel-item {
    height: 450px; }
  .header-navegacion img {
    height: 2rem; }
    .header-navegacion img:hover {
      height: 2.2rem;
      transition: 0.5s; }
  .header-caja-baner-titulo {
    font-size: 23px;
    width: 290px; }
  .header-caja-baner-sub-titulo {
    font-size: 19px; }
  .container, .historia-container-imagenes {
    padding: 30px; }
    .container h3, .historia-container-imagenes h3 {
      font-size: 27px; }
    .container p, .historia-container-imagenes p {
      font-size: 20px;
      font-weight: 0; }
  .actividades-fila {
    display: flex;
    width: 100%;
    margin: 4% auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px; } }

/* index */
/* Zonas */
.grid-zonas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header header header header" "lasZonas lasZonas lasZonas lasZonas" "zonaA zonaA zonaA zonaA" "zonaB zonaB zonaB zonaB" "zonaC zonaC zonaC zonaC" "zonaD zonaD zonaD zonaD"; }

.header {
  grid-area: header; }

#lasZonas {
  grid-area: lasZonas;
  color: #5f5635; }

#zonaA {
  grid-area: zonaA; }

#zonaB {
  grid-area: zonaB; }

#zonaC {
  grid-area: zonaC; }

#zonaD {
  grid-area: zonaD; }

.container-containerZonas {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
  background-color: #5f5635;
  align-self: center;
  display: flex;
  flex-direction: column;
  border: white solid 0.5px; }
  .container-containerZonas img {
    width: 100%;
    height: 100%;
    max-width: 538px;
    max-height: 525px;
    border: 3px solid #d8d6d6;
    padding: 0px;
    margin: 2px auto;
    align-self: center; }
  .container-containerZonas h4 {
    color: #d8d6d6; }
  .container-containerZonas p {
    color: #d8d6d6; }

.container-banerZonas img {
  width: 100%;
  height: auto; }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-zonas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "lasZonas" "zonaA" "zonaB" "zonaC" "zonaD"; } }

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .grid-zonas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "lasZonas" "zonaA" "zonaB" "zonaC" "zonaD"; }
  .container-banerZonas img {
    width: 100%;
    height: auto; } }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .grid-zonas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "lasZonas" "zonaA" "zonaB" "zonaC" "zonaD";
    grid-gap: 5px; }
  .header-navegacion-menu {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .containerZonas {
    padding: 4px; }
  .containerZonas img {
    width: 100%;
    height: auto; } }

/* Zonas */
/*Estilos de la galeria */
.grid-galeria {
  display: grid;
  grid-template-columns: repeat(5, 3fr);
  grid-template-rows: repeat(3, 200px);
  gap: 10px 10px;
  grid-template-areas: "avila-panoramica avila-panoramica avila-panoramica avila-panoramica avila2" "avila3 avila3 imagen-vertical avila5 avila5" "avila3 avila3 imagen-vertical avila6 avila6";
  justify-content: center;
  padding: 50px; }

.avila-panoramica {
  grid-area: avila-panoramica;
  background-image: url(https://patrick101995.github.io/proyecto/imagenes/Caribbean_Sea,_Avila_Mt,_Caracas_Panorama.jpg);
  background-position: 50% 40%;
  background-size: cover;
  transition: 1s; }
  .avila-panoramica:hover {
    background-position: 20%;
    transition: 1s ease;
    background-size: cover;
    border: black 1px solid; }

.avila3 {
  grid-area: avila3;
  background-image: url(https://patrick101995.github.io/proyecto/imagenes/Hotel_humnolt.jpg);
  background-size: cover;
  background-position: 60% 50%;
  transition: 1s ease; }
  .avila3:hover {
    background-position: 50% 60%;
    transition: 1s ease;
    background-size: cover;
    border: black 1px solid; }

.avila5 {
  grid-area: avila5;
  background-image: url(https://patrick101995.github.io/proyecto/imagenes/avila2.jpg);
  background-size: cover;
  transition: 1s ease;
  background-position: 50% 50%; }
  .avila5:hover {
    background-position: 50% 60%;
    transition: 1s ease;
    background-size: cover;
    border: black 1px solid; }

.imagen-vertical {
  grid-area: imagen-vertical;
  background-image: url(https://patrick101995.github.io/proyecto/imagenes/lets_enhance/historia_avila2.jpg);
  background-size: cover;
  background-position: 90%;
  transition: 1s ease; }
  .imagen-vertical:hover {
    background-position: 85%;
    transition: 1s ease;
    background-size: cover;
    border: black 1px solid; }

.avila2 {
  grid-area: avila2;
  background-image: url(https://patrick101995.github.io/proyecto/imagenes/avila5.jpg);
  background-size: cover;
  background-position: 60%;
  transition: 1s ease; }
  .avila2:hover {
    background-position: 20% 50%;
    transition: 1s ease;
    background-size: cover;
    border: black 1px solid; }

.avila6 {
  grid-area: avila6;
  background-image: url(https://patrick101995.github.io/proyecto/imagenes/galipan-alexander-sanchez.jpg);
  background-size: cover;
  transition: 1s ease; }
  .avila6:hover {
    background-position: 50% 60%;
    transition: 1s ease;
    background-size: cover;
    border: black 1px solid; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .grid-galeria {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(6, 200px);
    gap: 10px 10px;
    grid-template-areas: "avila-panoramica" "avila2" "avila3" "imagen-vertical" "avila5" "avila6";
    justify-content: center;
    padding: 50px; } }

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .grid-galeria {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(6, 200px);
    gap: 10px 10px;
    grid-template-areas: "avila-panoramica" "avila2" "avila3" "imagen-vertical" "avila5" "avila6";
    justify-content: center;
    padding: 50px; } }

@media only screen and (min-width: 1950px) and (max-width: 5000px) {
  .grid-galeria {
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    grid-template-rows: repeat(3, 200px);
    gap: 10px 10px;
    grid-template-areas: "avila-panoramica avila-panoramica avila-panoramica avila-panoramica avila2" "avila3 avila3 imagen-vertical avila5 avila5" "avila3 avila3 imagen-vertical avila6 avila6";
    justify-content: center;
    padding: 50px; }
  .footer-fixed {
    position: absolute;
    bottom: 0px; } }

/*Estilos de la galeria */
/* Estilos del modal de la galeria */
.modal-css {
  display: none;
  opacity: 0; }

.modal-css:target {
  visibility: visible;
  display: block;
  opacity: 1;
  transition: 0.5s;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2000; }

.modal-css h3 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 15px 0; }

.imagen {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 14vh; }

.imagen a {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px; }

.imagen a:nth-child(2) {
  margin: 0;
  height: 100%;
  flex-shrink: 2; }

.imagen img {
  width: auto;
  height: auto;
  max-width: 100%;
  border: 7px solid #fff;
  box-sizing: border-box;
  max-height: 70vh; }

.cerrar {
  display: block;
  background: #fff;
  width: 25px;
  height: auto;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: black;
  padding: 1px;
  border-radius: 50%;
  line-height: 25px; }

/* Estilos del modal de la galeria */
/* Historia y Geografia */
#div-historia {
  background-image: url(https://patrick101995.github.io/proyecto/imagenes/lets_enhance/historia_avila.jpg);
  width: 100%;
  height: 500px; }

#div-geografia {
  background-image: url(https://patrick101995.github.io/proyecto/imagenes/lets_enhance/historia_avila2_photos_v2_x2_colored_toned.jpg);
  width: 100%;
  height: 500px; }

.historia-container-imagenes {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 500px; }

.hitoria-container-imagenes-imagenes {
  width: 100%;
  height: 100%; }

.geografia-container-imagenes-imagenes {
  width: 100%;
  height: 100%; }

#div-humbolt {
  background-image: url(https://patrick101995.github.io/proyecto/imagenes/Hotel_humnolt.jpg);
  width: 100%;
  height: 500px; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  #div-geografia {
    background-image: url(https://patrick101995.github.io/proyecto/imagenes/lets_enhance/historia_avila2_photos_v2_x2_colored_toned.jpg);
    width: 100%;
    height: 500px;
    background-position: 90% 50%; }
  #div-humbolt {
    background-image: url(https://patrick101995.github.io/proyecto/imagenes/Hotel_humnolt.jpg);
    width: 100%;
    height: 500px;
    background-position: 70% 20%;
    background-size: cover; }
  #div-historia {
    background-image: url(https://patrick101995.github.io/proyecto/imagenes/lets_enhance/historia_avila.jpg);
    width: 100%;
    height: 500px;
    background-size: 3000px 100%; } }

@media only screen and (min-width: 601px) and (max-width: 768px) {
  #div-geografia {
    background-image: url(https://patrick101995.github.io/proyecto/imagenes/lets_enhance/historia_avila2_photos_v2_x2_colored_toned.jpg);
    width: 100%;
    height: 500px;
    background-position: 90% 50%; }
  #div-humbolt {
    background-image: url(https://patrick101995.github.io/proyecto/imagenes/Hotel_humnolt.jpg);
    width: 100%;
    height: 500px;
    background-position: 70% 20%;
    background-size: cover; }
  #div-historia {
    background-image: url(https://patrick101995.github.io/proyecto/imagenes/lets_enhance/historia_avila.jpg);
    width: 100%;
    height: 500px;
    background-size: 3000px 100%; } }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #div-geografia {
    background-image: url(https://patrick101995.github.io/proyecto/imagenes/lets_enhance/historia_avila2_photos_v2_x2_colored_toned.jpg);
    width: 100%;
    height: 500px;
    background-position: 90% 50%; }
  #div-humbolt {
    background-image: url(https://patrick101995.github.io/proyecto/imagenes/Hotel_humnolt.jpg);
    width: 100%;
    height: 500px;
    background-position: 70% 20%;
    background-size: cover; }
  #div-historia {
    background-image: url(https://patrick101995.github.io/proyecto/imagenes/lets_enhance/historia_avila.jpg);
    width: 100%;
    height: 500px;
    background-size: 3000px 100%; } }

/* Fin Historia y Geografia */
/* Contacto */
.boxContacto {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header header header" "inparque inparque inparque inparque" "map map map map" "form3 form3 form3 form3" "footer footer footer footer"; }

.boxContacto .header {
  grid-area: header;
  height: auto; }

.boxContacto .formContacto1 {
  grid-area: form1;
  display: flex;
  justify-content: center;
  background-color: #3fe48973; }

.boxContacto .formContacto2 {
  grid-area: form2;
  display: flex;
  justify-content: center;
  background-color: #9df3c4; }

.boxContacto .formContacto3 {
  grid-area: form3;
  color: #85603f;
  /*     display: flex;
    justify-content: center;
    background-color: #9df3c4 */ }

.boxContacto .container, .boxContacto .historia-container-imagenes {
  grid-area: inparque; }

.boxContacto .ubicacion {
  grid-area: map; }

.boxContacto .footer {
  grid-area: footer; }

.mapaContacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #5f5635;
  width: 80%; }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .boxContacto {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header header header" "inparque inparque inparque inparque" "map map map map" "form2 form2 form2 form2" "form3 form3 form3 form3" "footer footer footer footer"; } }

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .boxContacto {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header header header" "inparque inparque inparque inparque" "map map map map" "form2 form2 form2 form2" "form3 form3 form3 form3" "footer footer footer footer"; } }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .boxContacto {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header header header" "inparque inparque inparque inparque" "map map map map" "form2 form2 form2 form2" "form3 form3 form3 form3" "footer footer footer footer"; } }

/* Contacto */
